@import "tailwindcss";

body {
  background-color: whitesmoke;
}

[x-cloak] {
  display: none !important;
}

.swiper-pagination-bullet {
  background-color: white !important; /* Active dot color */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: rgb(216, 171, 216) !important; /* Active dot color */
  opacity: 1;
}

header {
  background-color: #fadadd;
}

#sidebar,
.divider {
  background-color: #fadadd;
}

.cat:hover {
  background-color: #fff4c1;
}

.home-box {
  background-color: #fadadd;
  border: 1px solid #f6339a;
}

/* Custom bounce animation that stops after 3 seconds */
@keyframes bounceOnce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce-limited {
  animation: bounceOnce 1s ease-in-out 1;
}
